body { font-family: Verdana, Arial, sans-serif;
		background-color: black;
		margin: 0;
		}

#wrapper { background-color: #7f7f7f;
	       }


.banner { max-height: 100%;
		  max-width: 100%;
		  overflow: hidden;
		  }

#left { float: left;
	    width: 100px;
	    min-width: 100px;
	    min-height: 100%;
	    letter-spacing: 0.1em;   
	    position: fixed;
	    margin-bottom: 0px;
	    background-color: #2b2b2b;
	    font-size-adjust: inherit;
	    }
	    

#sidebar { float: left;
	       letter-spacing: 0.1em;   
	       position: fixed;
	       margin-bottom: 0px;
	       min-width: 100px;
	    }
	    
	    
#sidebar ul { list-style-type: none;
		      margin: 0;
		      padding: 0;
		      min-width: 100px;
			}
	    
#left a { 
		  width: 15px;
		  text-decoration: none;
		  padding: 20px;
		  display: block;	
		  color: olive;
		  font-style: oblique;
		  text-align: center;
		  position: relative;
		   }
		   
#left a:hover { color: blue;}

		   
		   
#right { background-color: white;
		position: absolute;
		top:0;
		left:10%;
		 
		 }
		 

		 
#right h1, h6 { text-align: center;
				margin-bottom: 20px;}
				
h1 { font-family: "Apple Chancery", serif;}



#right table { border: 1px solid;
			   text-align: center;
			   margin-bottom: 20px;
			   width: 350px;
			   }
			  
#des { font-style: italic;
		}

		   
#form { margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding-left: 10em;}

.des { 
			position: absolute;
			top: 800px;
			width: 100%;
			height: 100px;
			color: white;
			text-align: center;
			font-size: larger;
			display: none;
			}
			
.bar { background-color: #1C1C1C;
	   color: white;
	   height: 150px;
	   text-align: center;
	   font-size: larger;
	   position: relative;
	    
	 }
	 
.pic { width: auto;
	   height: auto;
	   background-position: center;
	  
	   }
	   
.img { height: 100%;
	   width: 100%;
	   display: block;
	   z-index: 1;
	   }

		  
.tab { border: none;
	   padding-left: 20px;
	   color: gray;
	   font-size: small;}
	   
.button { text-decoration: none;
		  color: black;
		  background-color: white;
		  }
	   
p { padding-left: 5em;}


#aboutbar { background-color: yellow;
			opacity: 0.6;
			overflow: hidden;
			}
			
#aboutimg { background-image: url(night-banner.jpg);
			height: auto;
			width: auto;
			}	   

right ul { overflow: hidden;}

right li { margin-left: 20em;}
			 
#footer { font-size: 70%;
		  text-align: center;
		  background-color: #4c4c4c;
		  padding: 10px;
		  clear: both;
		  margin-left: 0px;
		  }
		  
#mailto { color: white;}
 





