
body { font-family: Verdana, Arial, sans-serif;
		background-color: black;
		margin: 0;
		}
		
.banner { max-height: 100%;
		  max-width: 100%;
		  overflow: hidden;
		  }
		  


#left { float: left;
	    width: 100px;
	    min-height: 100%;
	    letter-spacing: 0.1em;   
	    position: fixed;
	    margin-bottom: 0px;
	    background-color: #2b2b2b;
	    }
	    
#sidebar { float: left;
	       letter-spacing: 0.1em;   
	       position: fixed;
	       margin-bottom: 0px;
	    }
	    
#sidebar ul { list-style-type: none;
		      margin: 0;
		      padding: 0;
			}
			
#left a { 
		  font-size: 10px;
		  text-decoration: none;
		  padding: 20px;
		  display: block;	
		  color: olive;
		  font-weight: bold;
		  text-align: left;
		  position: relative;
		  padding-left: 10px;
		   }
		   
#right { background-color: white;
		 text-align: center;}
		 
#content { margin-left: 100px;}
		 
		 
.tab {	margin-left: auto;
		margin-right: auto;
		margin-top: 5em;
		
		}
		
caption { color: #333333; 
		  margin-bottom: 10px;
		  font-weight: bold;
		  font-family: "Al Bayan", serif;
		  font-size: x-large;
		  font-style: oblique;}
		
td { padding: 35px;
	 text-align: center;
	 font-family: sans-serif;
	 color: gray;
	 font-weight: 200;
	 font-size: larger;
	 font-style: italic;}
	 
#price { border: 2px solid;
		 font-size: large;
		 color: gray;
		 font-family: sans-serif;
		}

			 
#footer { font-size: 70%;
		  text-align: center;
		  background-color: #4c4c4c;
		  padding: 10px;
		  clear: both;
		  margin-left: 0px;
		  }
		  
#mailto { color: white;}